/* ------------------------------------------------------------------------- */
* {
	/* prevent callout when holding tap on links (the native dialog that comes up) */
	-webkit-touch-callout: none;
	/* prevent webkit from resizing text to fit */
	-webkit-text-size-adjust: none;
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* prevent copy paste, to allow, change 'none' to 'text' */
	-webkit-user-select: none;
	text-shadow: none;
}
.customer-form input {
	-webkit-user-select: text;
}
/* turn off webkit checkbox style, works for other inputs too */
input[type="checkbox"] {
	-webkit-appearance: none;
}
.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 160ms !important;
}
/* placeholder text opacity */
input::-webkit-input-placeholder {
	opacity: .8;
}
/* ------------------------------------------------------------------------- */
/* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000 !important;
	overflow: hidden;
}
.ui-page {
	-webkit-backface-visibility: hidden;
	background-color: #000000;
	background-image: none;
}
.ui-content {
	background-color: #000000;
	overflow: hidden;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* ------------------------------------------------------------------------- */
.sized-content {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
/* iOS specific fix, don't use it on Android devices */
.sized-content > * {
	-webkit-transform: translateZ(0px);
}
/* ------------------------------------------------------------------------- */
body {
	background-color: #000 !important;
	margin: 0;
}
/*
 div[data-role="header"] {
 background-image: none;
 background-color: #000;
 border: none;
 }
 div[data-role="footer"] {
 background-image: none;
 background-color: #000;
 border: none;
 }
 div[data-role="header"] img {
 position: absolute;
 top: 0;
 left: 0;
 }
 */
/* ------------------------------------------------------------------------- */
#first-page div {
	background-color: transparent;
}
#ani-page, #first-page {
	/*background: url(../img/animbg.png) no-repeat center center fixed;*/

	background-position-x: 50%;
	background-position-y: 50%;
	background-size: initial;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	padding: 0;
	border-style: none;
}
#first-page div.ui-content, #ani-page div.ui-content {
	background-color: transparent;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-style: none;
}
#ani-c {
	background: url(../img/cc.png);
	background-size: cover;
	position: relative;
	z-index:99;
}

.ani-logo {
	/*
	 display: none;
	 text-align: center;
	 */
	position: absolute;
	left: 0;
	top: 0;
	z-index:98;
	overflow: hidden;
}
/* ------------------------------------------------------------------------- */
#home-page {
	overflow: hidden;
}
#home-header-pic {
	position: absolute;
	right: 0;
	left: auto;
	z-index: 55;
	top: 5px;
}
#home-page div[data-role="content"] {
	height: 100%;
	overflow: hidden;
	padding: 0;
}
#left-menu {
	z-index: 44;
	position: absolute;
	left: 0;
	top: 0;
}
#left-menu a {
	background-repeat: no-repeat;
	width: 100%;
	display: -webkit-box;
	background-position: 0px 0px;
}
#left-menu a span.badge {
	border-radius: 50%;
	background-color: #EC008C;
	color: #fff;
	font-weight: bold;
	display: block;
	position: absolute;
	margin-top: 11px;
	padding: 4px;
	min-width: 15px;
	text-align: center;
	display: none;
	font-size: .8em;
}
.brick span.badge {
	border-radius: 50%;
	background-color: #EC008C;
	color: #fff;
	font-weight: bold;
	display: block;
	position: absolute;
	padding: 4px;
	min-width: 15px;
	text-align: center;
	display: none;
	font-size: .8em;
	left: -10px;
	top: 10px;
}
#left-menu a#m1 span {
	right: 18%;
}
#left-menu a#m2 span {
	right: 0;
}
#left-menu a#m3 span {
	right: -10%;
}
#m1 {
	background-image: url(../img/menu01.png);
}
#m2 {
	background-image: url(../img/menu02.png);
}
#m3 {
	background-image: url(../img/menu03.png);
}
#m4 {
	background-image: url(../img/menu04.png);
}
#m5 {
	background-image: url(../img/menu05.png);
}
#m6 {
	background-image: url(../img/menu06.png);
}
#m7 {
	background-image: url(../img/menu07.png);
}
#m8 {
	background-image: url(../img/menu08.png);
}
#m9 {
	background-image: url(../img/menu09.png);
}
#swiper-home, #swiper-catalogue {
	position: absolute;
	top: 0px;
	z-index: 33;
	height: 100%;
	width: 100%;
}
#pagination-home.pagination {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 35;
	text-align: center;
}
#home-carousel-tap-image {
	position: absolute;
	right: 5%;
	bottom: 5%;
	cursor: pointer;
	display: none;
}
/* ------------------------------------------------------------------------- */
div[data-role="header"] {
	border: none;
}
div[data-role="footer"] {
	border: none;
}
div[data-role="footer"] img {
	display: block;
}
.ui-footer div a {
	display: -webkit-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	float: left;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(../img/footer.png);
}
/* ------------------------------------------------------------------------- */
#page-yeniurun div[data-role="content"], #page-firsat div[data-role="content"], #page-guzellik div[data-role="content"], #page-sosyal [data-role="content"], #page-uygulama [data-role="content"], #page-harita [data-role="content"] {
	overflow: hidden;
}
/* ------------------------------------------------------------------------- */
#page-harita div[data-role="content"] {
	padding: 0;
}
#page-harita .ui-grid-a img {
	display: block;
}

#map {
	width: 100%;
	/*height: fromCode */

}
#map img {
	max-width: none;
}
/*
 #map-frame {
 width: 100%;
 }
 */
#current-location-msg {
	height: 40px;
	overflow: hidden;
	background-color: #4390EE;
}
#location-info {
	position: absolute;
	width: 100%;
	margin-top: 20px;
	text-align: center;
	padding: 5px;
	z-index: 198;
	display: block;
	background-color: rgb(236, 0, 140);
	color: #FFFFFF;
}
#shop-list {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 999;
	display: none;
	overflow-y: scroll;
	background-color: rgba(236, 0, 140, .8);
	color: #FFFFFF;
	height: 200px;
}
#shop-list .info {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	z-index: 198;
	display: block;
	text-align: center;
	padding: 5px;
	display: none;
}
#shop-list .liste {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
#shop-list li {
	list-style: none;
	padding: 8px;
	border-bottom: solid 1px #fff;
}
#shop-list li:hover, #shop-list li:active {
	background-color: rgba(0,0,0,0.2);
}
#shop-list li .title {
	font-weight: bold;
}
#shop-list li .address {
	font-weight: 300;
	padding-left: 12px;
}
#shop-list li .tel {
	font-weight: normal;
	/*padding-left: 12px;*/
}
#shop-list li .badge {
	float: right;
	margin-top: 0px;
	padding: 0 6px;
	line-height: 18px;
	font-size: 11px;
	background: rgb(255,58,190);
	border-radius: 9px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}
.info-window {
	z-index: 9999;
	cursor: pointer;
}
.info-window h4 {
	margin: 0;
}
.info-window .address {
	font-size: 12px;
}
.info-window .phone {
	font-size: 12px;
}

#shop-detail div.container {
	border: 2px solid #F5F5f5;
	background-color: #fff;
	color: #000;
	padding: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#shop-detail img {
	width: 33%;
	float: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#shop-detail .caption {
	font-weight: bold;
	float: right;
	padding-top: 20px;
}
#shop-detail .caption {
	font-weight: bold;
	float: right;
	padding-top: 20px;
}
#shop-detail .caption {
	font-weight: bold;
	float: right;
	padding-top: 20px;
}
#shop-detail .address {
	margin-top: 10px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}
#shop-detail .phone {
}
#shop-detail .distance {
	text-align: right;
	font-weight: bold;
}
.infobox-wrapper {
	display: none;
}
/*
 #infobox {
 border: 2px solid black;
 margin-top: 8px;
 background: #333;
 color: #FFF;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding: .5em 1em;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
 text-shadow: 0 -1px #000000;
 -webkit-box-shadow: 0 0 8px #000;
 box-shadow: 0 0 8px #000;
 }
 */
/* ------------------------------------------------------------------------- */
label {
	color: #fff;
}
.form-flip-lbl {
	white-space: nowrap;
	padding-top: 12px;
}
.ui-slider {
	float: right;
}
/* ------------------------------------------------------------------------- */
.android-form-correction {
	display: none; /* iOS */
	/* display: block; /* Android */
}
#lbDogumTar span {
	padding-left: 8px;
	display: none; /* iOS */
	/* display: inline; /* Android */
}
/* ------------------------------------------------------------------------- */
#page-uygulama div[data-role="content"] * {
	color: #fff;
}
/* ------------------------------------------------------------------------- */
#page-guzellik .brick {
	position: absolute;
}
/* ------------------------------------------------------------------------- */
div.loading {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 40%;
	background-color: rgb(255,255,255);
	border: solid 1px #aaa;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	color: #666;
	font-weight: bold;
	display: none;
	z-index: 999;
	border-radius: 10px;
}
div.loading .badge {
	font-size: smaller;
	font-weight: normal;
}
/* ------------------------------------------------------------------------- */
.rot90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
#page-katalog div[data-role="content"] {
	padding: 0;
	padding-top: 8px;
}
#page-gesture div[data-role="content"] .close {
	position: absolute;
	right: 0;
	top: 5%;
	padding: 16px 8px;
	background-color: rgba(0,0,0,.3);
	border: solid 1px #333;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	display: none;
	border-radius: 10px;
	cursor: pointer;
	z-index: 9999;
}
#page-gesture div[data-role="content"] .page-numbers {
	position: absolute;
	right: 0;
	bottom: 20%;
	padding: 16px 8px;
	background-color: rgba(0,0,0,.3);
	border: solid 1px #333;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	display: none;
	border-radius: 10px;
	cursor: pointer;
	z-index: 9999;
}
#page-gesture div[data-role="content"] .close:active, #page-gesture div[data-role="content"] .page-numbers:active {
	background-color: rgb(0,0,0);
}
#wrapper-katalog {
	position: absolute;
	z-index: 1;
	left: 0px;
	right: 0px;
	background: #ccc;
	overflow: hidden;
}

#scroller-katalog {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller-katalog img {
	-webkit-transform: translate3d(0,0,0);
}
/* ------------------------------------------------------------------------- */
#gsTemplateB {
	padding: 0;
}
#gsTemplateB  li {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	/*
	 display: inline-block;
	 clear: both;
	 float:left;
	 */
}
#gsTemplateB  li img {
	/*width: 50%; from code */
}
#gsTemplateB  li p {
	color: #fff;
	text-align: right;
	display: inline-block;
	padding: 0;
	width: 60%;
	right: 0;
	position: absolute;
}
#gsbContent2 {
	padding: 0;
	overflow: hidden;
}
#gsbContent {
	overflow: scroll;
}
.gsb2img img {
	/*width: 100%; from code*/
}
.gsb2text {
	margin-top: 10px;
	overflow-y: scroll;
	color: #fff;
	text-align: center;
}
/* ------------------------------------------------------------------------- */
#carousel4 {
	color: #fff;
	text-align: center;
}
#carousel4 .swiper-slide {
	color: #000;
}
.smooth_zoom_preloader {
	background-image: url(../zoom_assets/preloader.gif);
}
.smooth_zoom_icons {
	background-image: url(../zoom_assets/icons.png);
}
#carousel4-pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	top: 10px;
	width: 10px;
}
#carousel4-pagination .swiper-pagination-switch {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #555;
	margin: 0 0px 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}
#carousel4-pagination .swiper-active-switch {
	background: #f5f5f5;
}

/* ------------------------------------------------------------------------- */
#version-info {
	text-align: center;
	color: #FFFFFF;
	/*font-size: 11px;*/
}
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */